.button-size {
  width: 100px !important;
}

.banner-btn {
  width: 200px !important;
}

.heading-font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image-size {
  height: 200px;
  width: 200px;
}
.remove-button {
  width: 100px;
  height: 40px;
}

.chosenOutfit-size {
  height: 400px;
  width: auto;
}
.homepage-background {
  background-image: url("clothing.jpeg");
  min-height: 60vh;
  background-position: center;
  background-size: cover;
}

body {
  background-color: rgb(255, 213, 190);
}

::placeholder {
  color: white;
}

.box-color {
  background-color: rgb(233, 119, 85);
}
