.button-size {
  width: 100px !important;
}

.banner-btn {
  width: 200px !important;
}

.heading-font {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.minimal-background {
  /* background-image: url("Wardrobe.JPG");
  background-size: 550px;
  background-repeat: no-repeat; */
}
